{% extends "base.html" %}
{% load crispy_forms_tags %}
<h3>You can create your own post!</h3>
{% block content %}
<div class="col-md-8 mt-5 mx-auto">
    <div class="card">
        <div class="card-header bg-orange">
            <h4 class="card-title text-white">Create a New Post</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data" class="suggestion-form">
                {% csrf_token %}

                <!-- Title Field -->
                <div class="form-group mt-3">
                    {{ form.title.label_tag }}
                    <input type="text" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}"
                           class="form-control" value="{{ form.title.value }}">
                </div>

                <!-- Slug Field -->
                <div class="form-group mt-3">
                    {{ form.slug.label_tag }}
                    <input type="text" name="{{ form.slug.name }}" id="{{ form.slug.id_for_label }}"
                           class="form-control" value="{{ form.slug.value }}">
                </div>

                <!-- Featured Image Field -->
                <div class="form-group mt-3 ">
                    {{ form.featured_image.label_tag }}
                    {{ form.featured_image }}
                </div>

                <!-- Excerpt Field -->
                <div class="form-group mt-3">
                    {{ form.excerpt.label_tag }}
                    <textarea name="{{ form.excerpt.name }}" id="{{ form.excerpt.id_for_label }}"
                              class="form-control">{{ form.excerpt.value }}</textarea>
                </div>

                <!-- Content Field -->
                <div class="form-group mt-3">
                    {{ form.content.label_tag }}
                    <textarea name="{{ form.content.name }}" id="{{ form.content.id_for_label }}"
                              class="form-control custom-textarea">{{ form.content.value }}</textarea>
                </div>

                <!-- input element -->
                <input type="submit" class="btn btn-suggestion mt-5" value="Create Post">
            </form>
        </div>
    </div>
</div>

{% endblock content %}