/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap');

/* Typography */

body {
    font-family: 'Roboto', 'Secular One', sans-serif;
    /* Adjust the font weight for better readability */
}
/* Background Colors */ 
.main-bg {
    background-color: #e9ecef;
}

.light-bg {
    background-color: #f8f9fa;
}

.dark-bg {
    background-color: #343a40;
}

.bg-orange {
    background-color: #fd7e14;
}

.logo {
    letter-spacing: 2px;
}

/* Text Colors */
.card-title-index {
    color: #28a745;
    text-decoration: none;
    /* Use a color that has better contrast for text */
}

/* Text Colors */
.card-title,
.card-header {
    color: #ffffff;
    font-weight: 400;
    border-radius: 10px;
    text-decoration: none;
}

.author {
    color: #f8f9fa;
    background-color: rgba(253, 126, 20, 0.7);
    margin: 4px;
    text-transform: uppercase;
}

.card-text,
.post-link {
    color: #fd7e14;
}

.link,
.link:hover,
.link:active,
.page-link {
    color: #fd7e14;
    text-decoration: none;
}

.page-link {
    background-color: #147b4d;
    color: #ececec;
    border-radius: 10px;
}

.brand,
.title,
.sub-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fd7e14;
}

/* Buttons */
.btn-signup,
.btn-signup:hover,
.btn-signup:active {
    background-color: #28a745;
    color: #f8f9fa;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
}

/* Cards */
.card {
    border: none;
    background-color: #f8f9fa;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #fd7e14;
}

.card-green-orange {
    border: 1px solid #fd7e14;
    margin-bottom: 20px;
}

/* Images */
.image-container {
    position: relative;
}

.image-flash {
    background-color: rgba(40, 167, 69, 0.7);
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
}

/* Miscellaneous */
.thin {
    font-weight: 300;
}

/* Sidebar */
.sidebar-scroll {
    position: sticky;
    top: 60px;
    /* Fixed the typo and adjusted the value */
    width: 30%;
    border: 1px solid #FFA500;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10%;
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.sidebar h5 {
    font-weight: 700;
    color: #28a745;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sidebar .nav-item {
    margin-bottom: 8px;
}

.sidebar .nav-link {
    color: #343a40;
    font-weight: 300;
    transition: color 0.2s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:focus {
    color: #fd7e14;
    text-decoration: none;
}

/* Commenting Box Area */
.custom-textarea {
    width: 100%;
    height: 70px;
}

.error {
    color: red;
}

/* Suggestion Section */
.suggestion-section {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Suggestion Item */
.suggestions-list {
    list-style-type: none;
    padding: 10px;
}

.suggestion-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #FFA500;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Suggestion Text */
.user-suggestion-text {
    line-height: 1.6;
}

/* Likes and Dislikes */
.btn-likes,
.btn-dislikes {
    margin-right: 10px;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
    transition: color 0.2s;
}

.likes:hover,
.dislikes:hover {
    color: #fd7e14;
}

/* Suggestion Form Styling */
.suggestion-form {
    margin-top: 20px;
}

/* Botão de envio da sugestão */
.btn-suggestion {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-suggestion:hover {
    background-color: #ddd;
}

/* Style the text inside the textarea */
#id_suggestion_text {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 2px solid #FFA500;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.text-container {
    border: 1px solid #FFA500;
    width: 96%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* footer icon */
.white-icon {
    color: white;
}

/* screen reduced  */
@media (max-width: 768px) and (min-width: 180px) {
    .sidebar-scroll {
        position: relative;
        display: block;
        width: 80%;
        margin: 20px auto;
        max-height: none;
        top: 0;
        padding: 30px;
        border-radius: 10px;
        border: 2px solid #FFA500;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }

    /* Make the main content 100% width */
    .col-md-12 {
        width: 95%;
    }
}