<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

<title>create post button</title>

</head>

<!-- Create Post Button -->
<div class="row">
    <div class="col-md-4 d-flex justify-content-center mt-2 d-lg-none">
        <a id="create-post-link-1"
            href="{% if user.is_authenticated %}{% url 'create_post' %}{% else %}{% url 'account_login' %}?next={% url 'create_post' %}{% endif %}"
            class="btn btn-success">
            {% if user.is_authenticated %}
            <i class="fa-solid fa-plus"></i> Create a new Post
            {% else %}
            <i class="fas fa-sign-in-alt"></i> Login
            {% endif %}
        </a>
    </div>
</div>