<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <p class="m-0 text-center text-white">Felipe Zanetti 2023</p>
    <p class="m-0 text-center text-white">Get connected with me: 
        <a href="https://www.linkedin.com/in/felipe-zanetti/" aria-label="LinkedIn Profile">
            <i class="fab fa-linkedin ms-3 white-icon"></i>
        </a>
        <a href="https://github.com/zanettiprado" aria-label="GitHub Profile">
            <i class="fab fa-github ms-3 white-icon"></i>
        </a>
    </p>
</footer>