<!-- welcome.html -->
<div class="container-fluid text-container shadow p-3 mb-5 mt-4 bg-white rounded">
    <div class="row">
        <div class="col-md-12">
            <h2 class="sub-title text">Welcome to BuzzEireBrazil!</h2>
            <h5 class="brand">About us:</h5>
            <p class="text text  mt-4">
                "We are the first community where we gather people who provide services or in some way want to promote
                their business. The idea of the blog is to compile in posts what people can offer you. Since we are
                still a very young community, we plan to organize the posts by service categories in the near future.
                However, for now, as we don't have many categories, you can find them right here on the main page of the
                blog. Just search for what you're looking for or go to the next page if you haven't found it. If you
                still can't find it, right below, we have a box for you to leave a suggestion of what you were looking
                for, and we will organize it and leave it here for you to find when you return" <br><br>
                The idea is to create a notification every time a post is added, but until then, feel free to visit us as many times as you'd like.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="cold-md-12 text-center">
            <h2 class="title"> Visit the post and leave a comment or feedback!!</h2>
            <h3 class="sub-title" >If you can't find what you're looking for, drop a comment in the suggestion section just below the posts.</h3>
        </div>
    </div>
</div>
